@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

.app-container {
  background: #eeeeee;
}

.neu-container-depressed {
  box-shadow: inset -6px -6px 6px 0 rgba(255, 255, 255, 1),
    inset 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
}

.neu-container {
  border: 4px solid #ececec;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    12px 12px 12px 0 rgba(0, 0, 0, 0.3),
    inset -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
}

.neu-container-raised {
  border: 4px solid #ececec;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    12px 12px 12px 0 rgba(0, 0, 0, 0.3);
}

.neu-btn {
  color: #7a7a7a;
  border: 1px solid #ececec;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    12px 12px 12px 0 rgba(0, 0, 0, 0.3);
}

.neu-btn:active:focus {
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  color: #15e38a;
}

.neu-btn:hover {
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.8),
    12px 12px 12px 0 rgba(0, 0, 0, 0.25);
  color: #8c9290;
}

.neu-btn-disabled {
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  color: #8c9290;
}

.neu-btn-disabled:hover {
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  color: #8c9290;
}

.neu-btn-disabled:active:focus {
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  color: #8c9290;
}

.neu-btn-small {
  color: #7a7a7a;
  box-shadow: 7px 7px 13px #bebebe, -7px -7px 13px #ffffff;
}

.neu-btn-small:active:focus {
  box-shadow: -3px -3px 3px 0 rgba(255, 255, 255, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 0.3),
    inset -3px -3px 3px 0 rgba(255, 255, 255, 1),
    inset 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  color: #15e38a;
  @apply transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-y-95 duration-300;
}

.neu-btn-small:hover {
  box-shadow: 7px 7px 13px #bebebe, -7px -7px 13px #ffffff;
  color: #8c9290;
}
