@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button:focus {
    outline: 0 !important;
  }

  html {
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
  }
}

.app-container {
  background: #eeeeee;
}

.neu-container-depressed {
  box-shadow: inset -6px -6px 6px 0 rgba(255, 255, 255, 1),
    inset 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
  @apply bg-neu;
}

.neu-container-depressed-t {
  box-shadow: inset -6px 0 6px 0 rgba(255, 255, 255, 1),
    inset 6px 6px 6px 0 rgba(0, 0, 0, 0.3);
  @apply bg-neu;
}

.neu-container-depressed-b {
  box-shadow: inset -6px -0px 6px 0 rgba(255, 255, 255, 1),
    inset 6px 0 6px 0 rgba(0, 0, 0, 0.3);
  @apply bg-neu;
}

.neu-container {
  border: 4px solid #ececec;
  border-radius: 0.75rem;
  -webkit-box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    12px 12px 12px 0 rgba(0, 0, 0, 0.3),
    inset -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    12px 12px 12px 0 rgba(0, 0, 0, 0.3),
    inset -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  @apply bg-neu;
}

.neu-container-raised {
  border: 4px solid #ececec;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  @apply bg-neu;
}

.neu-container-raised-error {
  border: 4px solid #fca5a550;
  box-shadow: -12px -12px 12px 0 #ffffff,
    12px 12px 12px 0 rgba(252, 165, 165, 0.3);
  @apply bg-red-300/50;
}

.neu-btn {
  color: #7a7a7a;
  border: 1px solid #ececec;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  @apply bg-neu;
}

.neu-btn-depressed {
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  color: #15e38a;
}

.neu-btn:active {
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  color: #15e38a;
}

.neu-btn:active:focus {
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  color: #15e38a;
}

.neu-btn:hover {
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.8),
    12px 12px 12px 0 rgba(0, 0, 0, 0.25);
  color: #8c9290;
}

.neu-btn-disabled {
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  color: #8c9290;
  @apply bg-neu;
}

.neu-btn-disabled:hover {
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  color: #8c9290;
}

.neu-btn-disabled:active:focus {
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset -12px -12px 12px 0 rgba(255, 255, 255, 1),
    inset 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
  color: #8c9290;
}

.neu-btn-small {
  color: #7a7a7a;
  box-shadow: 7px 7px 13px #bebebe, -7px -7px 13px #ffffff;
  @apply outline-icon-active ring-icon-active;
  @apply bg-neu;
}

.neu-btn-small:active {
  box-shadow: -3px -3px 3px 0 rgba(255, 255, 255, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 0.3),
    inset -3px -3px 3px 0 rgba(255, 255, 255, 1),
    inset 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  color: #15e38a;
  @apply -translate-y-1 scale-y-95 transition duration-300 ease-in-out;
}

.neu-btn-small:focus {
  box-shadow: -3px -3px 3px 0 rgba(255, 255, 255, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 0.3),
    inset -3px -3px 3px 0 rgba(255, 255, 255, 1),
    inset 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  color: #15e38a;
}

.neu-btn-small:active:focus {
  box-shadow: -3px -3px 3px 0 rgba(255, 255, 255, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 0.3),
    inset -3px -3px 3px 0 rgba(255, 255, 255, 1),
    inset 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
  color: #15e38a;
  @apply -translate-y-1 scale-y-95 transition duration-300 ease-in-out;
}

.neu-btn-small-active {
  box-shadow: -3px -3px 3px 0 rgba(255, 255, 255, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 0.3),
    inset -3px -3px 3px 0 rgba(255, 255, 255, 1),
    inset 3px 3px 3px 0 rgba(0, 0, 0, 0.3) !important;
  color: #15e38a !important;
  @apply -translate-y-1 scale-y-95 transition duration-300 ease-in-out;
  @apply outline-icon-active ring-icon-active;
  @apply bg-neu;
}

.neu-btn-small:hover {
  box-shadow: 7px 7px 13px #bebebe, -7px -7px 13px #ffffff;
  color: #8c9290;
}
